NEXT_PUBLIC_SUPABASE_URL=https://icjplxrdyrxzceaxcdmy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImljanBseHJkeXJ4emNlYXhjZG15Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2NDI4NTEsImV4cCI6MjA5MzIxODg1MX0.fAC3M5DmYVLwW_Xe91e3tnRfy_qJ4pRYkwZIJVnkQEs
